*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/apoio
!/apoio/*
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/etc/master.yaml
!/app/etc/configurator/*
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/opcache-preload.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*
!/.pipeline
!/.pipeline/*
!/auth.json.sample
!/pwa
!/pwa/*
!/pwa/src/*
!/pwa/templates
!/pwa/templates/*
nginx.conf
!/pwa2
!/pwa2/*
pwa2/node_modules
pwa2/.env
pwa/.env

!/pub
!/pub/errors
!/pub/errors/custom
!/pub/errors/custom/**
!/pub/errors/local.xml

.docker/mysql
.docker/mnt
.docker/mysql-quote
.docker/mysql-sales
.docker/tmp

.docker/config/php/php.ini
